#search {
    /* Line in */
    background-color: red;
    color: white;
    padding:
            /* weird line comment */
            16px;
    content: 'Hello, my name is Mudd!';
}
/* Line
trail */

/* Unfinished